<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    在2020研究生招生考试中，报考网络空间安全学院，成绩见下表。
</div>

<table>
                            <tbody>
		<tr>
                                <td >姓名：</td>
                                <td >Diamon</td>
                            </tr>

                            <tr>
                                <td >总分：</td>
                                <td >369</td>
                            </tr>
                            <tr>
                                <td >第一门：</td>
                                <td >
                                    (101)思想政治理论：71
                                </td>
                            </tr>
                            <tr>
                                <td >第二门：</td>
                                <td >
                                    (201)英语一：70
                                </td>
                            </tr>
                            <tr>
                                <td >第三门：</td>
                                <td >
                                    (301)数学一：108
                                </td>
                            </tr>
                            <tr>
                                <td >第四门：</td>
                                <td >
                                    计算机学科基础综合：120
                                </td>
                            </tr>
                            <tr >
                                <td ></td>
                            </tr>
                        </tbody></table>

<hr style="height:1px;border:none;border-top:1px solid #555555;" />